.projectContainer{
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}
.cardProject{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    align-items: center
}
.cardProject:nth-child(2n+0){
    flex-direction: row-reverse;
}

.coverProjects{
    width: 116vw;
    height: 24vw;
    background-size: contain;
    background-repeat: no-repeat;
}
.colorCover{
  width: 98.7%;/* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.colorCover:hover{
    background: none;
}
.containerTextProjects{
    position: relative;
    right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

 .cardProject:nth-child(2n+0) .containerTextProjects{
    left: 5vw;
    align-items: flex-start;
}

 .cardProject:nth-child(2n+0) .containerTextProjects > ul{
    justify-content: flex-start;
    padding: 0;
    width: 30vw;
}

.containerTextProjects > p {
    color: $green;
    font-family: $mono;
    font-size: 15px;
    font-weight: 200;
}

.containerTextProjects > h5{
    color: $slate;
    font-size: 1.7rem;
    margin: 0px 0px 20px;
}

.descriptionProject{
    box-shadow: 0 10px 30px -15px $shadow;
    position: relative;
    z-index: 2;
    padding: 20px;
    border-radius: 5px;
    background-color: $blue-light;
    color: $light-slate;
}

.descriptionProject >p{
       font-size: 1rem;
    font-weight: 300;
    line-height: 21px;
}

.containerTextProjects > ul  {
    list-style: none;
    display: flex;
    color:$light-slate;
    font-family: $mono;
    font-size: 15px;
    font-weight: 200;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.containerTextProjects > ul > li{
    padding: 7px;
 
}

